.mainContainer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}
.containerOfProducts{
    border: 2px solid green;
    margin-top: 12px;
    padding: 20px;
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    align-items: center;
    padding: 12px;
}
.NavbarContainer ul{
    display: flex;
    gap: 20px;
}